#textdomain wesnoth-Elves_and_Wose

{EW_SETTINGS "North_Bay" (North Bay) "North_Country"}
{EW_MAP North_Bay}
turns=30

{DEFAULT_SCHEDULE}
{MOOD_NORMAL}

[story]
    [part]
        story= _ "Thus, Saleh, Chantal, Milolas, and company, went to North Bay, via Lake Vrug. When they arrived, however, they saw that the North Elves had problems of their own with which to contend. They had been invaded by Aragwaithian soldiers."
        delay=4000
    [/part]
[/story]

[side]
    {EW_SALEH}
    side=1
    controller=human
    recruit=Wose,Elvish Shaman
    team_name=kalenz
    fog=yes
    shroud=no
    share_view=yes
    share_map=yes
    {GOLD 200 150 100}
[/side]

#ifdef HARD
{LIMIT_RECRUITS 1 (Elvish Shaman) (3)}
#else
{LIMIT_RECRUITS 1 (Elvish Shaman) (5)}
#endif

[side]
    side=2
#ifdef MULTIPLAYER
    {EW_BIMLI}
    controller=human
    recruit=Dwarvish Fighter,Dwarvish Thunderer,Dwarvish Scout
    team_name=kalenz
    fog=yes
    shroud=no
    share_view=yes
    share_map=yes
    {GOLD 200 100 50}
#else
    hidden=yes
    controller=null
#endif
[/side]

[side]
    type=Elvish Marshal
    id=Aryad
    save_id=Aryad
    name=_"Aryad"
    side=3
    controller=ai
    canrecruit=yes
    persistent=yes
    {GOLD 250 350 450}
    recruit=Elvish Fighter,Elvish Archer,Elvish Scout,Elvish Shaman
    team_name=kalenz
    allow_player=no
    [ai]
        aggression=0.3
        caution=0.7
        grouping=defensive
        attack_depth=5
        recruitment_pattern=fighter,archer,archer,healer,scout
        {NO_SCOUTS}
    [/ai]
[/side]

[side]
    type=EW Aragwaithi Wizard
    id=Zorlin
    name=_"Zorlin"
    profile="portraits/aragwaithi/sorceress.png"
    side=4
    canrecruit=yes
    {GOLD 250 350 450}
    {INCOME 4 8 12}
    team_name=aragwaithi
    allow_player=no

#ifdef EASY
    recruit=EW Aragwaithi Warlock,EW Aragwaithi Archer,EW Aragwaithi Spearman,EW Aragwaithi Swordsman
#endif

#ifdef NORMAL
    recruit=EW Aragwaithi Warlock,EW Aragwaithi Archer,EW Aragwaithi Spearman,EW Aragwaithi Swordsman,EW Aragwaithi Wizard
#endif
#ifdef HARD
    recruit=EW Aragwaithi Warlock,EW Aragwaithi Archer,EW Aragwaithi Spearman,EW Aragwaithi Swordsman,EW Aragwaithi Scout,EW Aragwaithi Wizard
#endif
    [ai]
        aggression=0.7
        caution=0.3
        attack_depth=4
        {NO_SCOUTS}
    [/ai]
    [village]
        x=23
        y=16
    [/village]
[/side]

[side]
    type=EW Aragwaithi Captain
    id=Merdor
    name=_"Merdor"
    profile="portraits/aragwaithi/swordsman.png"
    side=5
    canrecruit=yes
    {INCOME 4 8 12}
    {GOLD 300 450 550}
    team_name=aragwaithi
    allow_player=no

#ifdef EASY
    recruit=EW Aragwaithi Warlock,EW Aragwaithi Archer,EW Aragwaithi Spearman,EW Aragwaithi Swordsman,EW Aragwaithi Scout
#endif

#ifdef NORMAL
    recruit=EW Aragwaithi Warlock,EW Aragwaithi Archer,EW Aragwaithi Spearman,EW Aragwaithi Swordsman,EW Aragwaithi Wizard,EW Aragwaithi Scout
#endif
#ifdef HARD
    recruit=EW Aragwaithi Warlock,EW Aragwaithi Archer,EW Aragwaithi Spearman,EW Aragwaithi Swordsman,EW Aragwaithi Scout,EW Aragwaithi Wizard,EW Aragwaithi Scout
#endif
    [ai]
        aggression=0.7
        caution=0.3
        attack_depth=4
        {NO_SCOUTS}
    [/ai]
    [village]
        x=32
        y=22
    [/village]
[/side]

[event]
    name=prestart

    [objectives]
        side=0
        [objective]
            description= _ "Defeat all enemies"
            condition=win
        [/objective]
        [objective]
            description= _ "Death of Saleh"
            condition=lose
        [/objective]
        [objective]
            description= _ "Death of Greentall"
            condition=lose
        [/objective]
        [objective]
            description= _ "Death of Bimli"
            condition=lose
        [/objective]
        [objective]
            description= _ "Death of Chantal"
            condition=lose
        [/objective]
        [objective]
            description= _ "Death of Milolas"
            condition=lose
        [/objective]
        {TURNS_RUN_OUT}
        {EW_CARRYOVER_NOTE}
    [/objectives]
    [capture_village]
        side=3
        x=21,24,30,34
        y=2,3,3,4
    [/capture_village]

    [recall]
        id=Greentall
    [/recall]
    [recall]
        id=Geek
    [/recall]
#ifndef MULTIPLAYER
    [recall]
        id=Bimli
    [/recall]
#endif
    [recall]
        id=Chantal
    [/recall]
    [recall]
        id=Milolas
    [/recall]
    [item]
        x,y=4,6
        image=scenery/wreck.png
    [/item]
    [item]
        x,y=36,39
        image=scenery/wreck.png
    [/item]

    {VARIABLE_OP naga rand(0,1,1)}

    {VARIABLE nagaPos[0].x 36}
    {VARIABLE nagaPos[0].y 39}
    {VARIABLE nagaPos[1].x 4}
    {VARIABLE nagaPos[1].y 6}

    {VARIABLE nagaPosX $nagaPos[$naga].x}
    {VARIABLE nagaPosY $nagaPos[$naga].y}
    {CLEAR_VARIABLE nagaPos,naga}
[/event]

[event]
    name=start

    [message]
        id=Chantal
        message= _ "Aryad, I see that you have been invaded by Aragwaithians. This is bad timing, as we were coming to request troops to help us in Gitamoth and Glyn's Forests. "
    [/message]

    [message]
        id=Aryad
        message= _ "Yes, they arrived in the middle of the night by surprise. Fortunately, the weather was harsh, and many of their ships have either wrecked, or have been turned back. But we could use some help with the ones who successfully landed."
    [/message]

    [message]
        id=Saleh
        message= _ "We can help!"
    [/message]

    [message]
        id=Aryad
        message= _ "Excellent!"
    [/message]

    [message]
        id=Merdor
        message= _ "Silence elves! The Aragwaith are here to lay claim on our rightful lands. Either leave, or prepare to die!"
    [/message]
[/event]

[event]
    name=time over

    [message]
        id=Saleh
        message=  _ "We still haven't defeated the enemy and our troops and supplies are exhausted. This is the end!"
    [/message]
[/event]

[event]
    name=die

    [filter]
        id=Zorlin
    [/filter]
    [message]
        speaker=Saleh
        message= _ "Go back to your homes Aragwaithian invaders!!"
    [/message]
[/event]

[event]
    name=enemies defeated

    [message]
        speaker=Aryad
        message= _ "So tell me, what brings the elves of Wesmere to the North?"
    [/message]

    [message]
        speaker=Chantal
        message= _ "We actually came to seek your help. There is trouble brewing in the lands to the south. We fear that Iradia may be making a move to have Kalenz murdered so that he may assume control of Wesmere. He may also have made a deal with orcs and saurians. For all we know, he may have made a deal with the Aragwaith as well."
    [/message]

    [message]
        speaker=Aryad
        message= _ "Well, we have defended North Bay. But there are more invaders inland. Help us push them out, and we will be free to help you in the South."
    [/message]

    [message]
        speaker=Aryad
        message= _ "I knew Iradia could not be trusted. Well, we will see to it that Kalenz is restored to power and Iradia is locked away.."
    [/message]

    {EW_ENDLEVEL}
[/event]

[event]
    name=victory

    [allow_recruit]
        side=1
        type=Elvish Scout
    [/allow_recruit]

    {CLEAR_VARIABLE nagaPosX}
    {CLEAR_VARIABLE nagaPosY}
[/event]

[event]
    name=moveto

    [filter]
#ifdef MULTIPLAYER
        side=1,2
#else
        side=1
#endif
        x,y=$nagaPosX,$nagaPosY
    [/filter]

    [message]
        speaker=unit
        message=_"Look there is someone trapped"
    [/message]

    [unit]
#ifdef HARD
        type=Naga Fighter
        experience=9
#else
        type=Naga Warrior
#endif
        side=$unit.side
        x,y=$x1,$y1
        hitpoints=1
        role=naga
        [modifications]
            {TRAIT_LOYAL}
            {TRAIT_STRONG}
        [/modifications]
        {IS_LOYAL}
    [/unit]
    [message]
        role=naga
        message=_"Ah I'm finished"
    [/message]
    [message]
        speaker=unit
        message=_"We may view for your wounds"
    [/message]
[/event]
{HERO_DEATHS}

#ifdef MULTIPLAYER
[/multiplayer]
#else
[/scenario]
#endif
