#textdomain wesnoth-Elves_and_Wose

{EW_SETTINGS "Troll_Mountain" (Troll Mountain) "Troll_Road"}

{EW_MAP Troll_Mountain}
turns=30

{DEFAULT_SCHEDULE}
{MOOD_DOOM}

[story]
    [part]
        story= _ "Saleh's journey through the mountains had been a rocky and tiring one. Fortunately, as Kalenz predicted, the dwarves were there to help. Saleh was grateful for this, for he was getting ready to go into troll country. The first stop: Troll Mountain."
    [/part]
[/story]

{TROLL_MOUNTAIN}

[side]
    {EW_SALEH}
    side=1
    controller=human
    recruit=Wose
    team_name=saleh
    fog=yes
    shroud=no
    share_view=yes
    share_map=yes
    {GOLD 200 150 100}
[/side]

[side]
    side=2
#ifdef MULTIPLAYER
    {EW_BIMLI}
    controller=human
    recruit=Dwarvish Fighter,Dwarvish Thunderer,Dwarvish Scout
    team_name=saleh
    fog=yes
    shroud=no
    share_view=yes
    share_map=yes
    {GOLD 200 100 50}
#else
    hidden=yes
    controller=null
#endif
[/side]

[side]
    type=Troll Warrior
    id=Grugl
    name=Grugl
    side=3
    allow_player=no
    canrecruit=yes
    team_name=orcs
    allow_player=no

#ifdef EASY
    recruit=Troll Whelp
#endif

#ifdef NORMAL
    recruit=Troll Whelp, Troll
#endif

#ifdef HARD
    recruit=Troll Whelp, Troll, Troll Rocklobber, Troll Warrior
#endif

    {GOLD 150 180 200}
    {INCOME 4 8 12}
[/side]

[side]
    type=Troll Warrior
    id=Truar
    name=Truar
    side=4
    allow_player=no
    canrecruit=yes
    team_name=orcs
    allow_player=no

#ifdef EASY
    recruit=Troll Whelp
#endif

#ifdef NORMAL
    recruit=Troll Whelp,Troll
#endif

#ifdef HARD
    recruit=Troll Whelp,Troll,Troll Rocklobber,Troll Warrior
#endif

    {GOLD 130 150 180}
    {INCOME 4 8 12}
[/side]

[event]
    name=prestart

    [objectives]
        side=0
        [objective]
            description= _ "Defeat enemy leaders"
            condition=win
        [/objective]
        [objective]
            description= _ "Death of Saleh"
            condition=lose
        [/objective]
        [objective]
            description= _ "Greentall"
            condition=lose
        [/objective]
        {TURNS_RUN_OUT}
        {EW_CARRYOVER_NOTE}
    [/objectives]

    [recall]
        id=Greentall
        placement=leader
    [/recall]

#define EW_RECALL_OR_CREATE_UNIT X Y TYPE
    [recall]
        side=2
        x,y={X},{Y}
    [/recall]
    [if]
        [not]
            [have_unit]
                side=2
                x,y={X},{Y}
            [/have_unit]
        [/not]
        [then]
            {GENERIC_UNIT 2 {TYPE} {X} {Y}}
        [/then]
    [/if]
#enddef

#ifdef MULTIPLAYER
    {EW_RECALL_OR_CREATE_UNIT 30 14 (Dwarvish Fighter)}
    {EW_RECALL_OR_CREATE_UNIT 29 14 (Dwarvish Steelclad)}
    {EW_RECALL_OR_CREATE_UNIT 29 15 (Dwarvish Thunderer)}
    {EW_RECALL_OR_CREATE_UNIT 29 17 (Dwarvish Stalwart)}
    {EW_RECALL_OR_CREATE_UNIT 27 16 (Dwarvish Fighter)}
    {LOYAL_UNIT 2 (Dwarvish Pathfinder) 28 14}
#else
    [recall]
        id=Bimli
        x,y=26,15
    [/recall]

    {LOYAL_UNIT 1 (Dwarvish Fighter) 30 14}
    {GENERIC_UNIT 1 (Dwarvish Fighter) 30 16}
    {GENERIC_UNIT 1 (Dwarvish Thunderer) 30 15}
    {LOYAL_UNIT 1 (Dwarvish Steelclad) 29 14}
    {GENERIC_UNIT 1 (Dwarvish Fighter) 29 14}
    {GENERIC_UNIT 1 (Dwarvish Fighter) 29 16}
    {LOYAL_UNIT 1 (Dwarvish Thunderer) 29 15}
    {GENERIC_UNIT 1 (Dwarvish Fighter) 28 14}
    {GENERIC_UNIT 1 (Dwarvish Fighter) 28 16}
    {LOYAL_UNIT 1 (Dwarvish Stalwart) 29 17}
    {GENERIC_UNIT 1 (Dwarvish Thunderer) 28 15}
    {GENERIC_UNIT 1 (Dwarvish Fighter) 27 15}
    {LOYAL_UNIT 1 (Dwarvish Fighter) 27 16}
#endif
#undef EW_RECALL_OR_CREATE_UNIT X Y TYPE
[/event]

[event]
    name=start

    [message]
        id=Grugl
        message= _ "Look Truar, it looks like there is an elf lost in troll country. He should make for a nice snack for our friend in the north. And he brought some annoying dwarf halflings!"
    [/message]
    [message]
        id=Truar
        message= _ "I don't think I want to let them past us. I want to kill them all now."
    [/message]
    [message]
        id=Saleh
        message= _ "We only mean to pass through, and do not want any trouble from you."
    [/message]
    [message]
        id=Grugl
        message= _ "If you didn't want trouble, you should have stayed home in the lowlands you pointy eared fool. That goes for you dwarves too."
    [/message]
    [message]
        id=Saleh
        message= _ "It looks like we have no choice, but to fight."
    [/message]
    [message]
        id=Greentall
        message= _ "You trolls don't scare me! Raaaaaaaa!!!! "
    [/message]
    [message]
        id=Saleh
        message= _ "[**thinking to self**]That scared me. "
    [/message]

    [message]
        id=Bimli
        message= _ "You heard the trolls men. Prepare for battle! "
    [/message]
[/event]

[event]
    name=time over

    [message]
        id=Saleh
        message= _ "We are too late..."
    [/message]
[/event]

[event]
    name=enemies defeated

    {EW_ENDLEVEL}
[/event]

[event]
    name=victory

    [message]
        id=Saleh
        message= _ "I sure hope we can make it the rest of the way unnoticed."
    [/message]

    [message]
        id=Greentall
        message= _ "Hey, what do you think they meant when they were talking about their friend to the north?"
    [/message]

    [message]
        id=Saleh
        message= _ "I don't even want to know."
    [/message]
[/event]
{HERO_DEATHS}

#ifdef MULTIPLAYER
[/multiplayer]
#else
[/scenario]
#endif
