#textdomain wesnoth-Elves_and_Wose

{EW_SETTINGS "Bridge_of_Eloh" (Bridge of Eloh) "Kalian_Meeting"}
{EW_MAP Bridge_of_Eloh}
turns=30

{DEFAULT_SCHEDULE}
{MOOD_HUSHED}

[story]
    [part]
        story= _ "Saleh and his followers came upon the new bridge, only partially complete, but complete enough to cross the Great River. That was all that mattered. This would save many days of travel. However, when they looked at the other side of the river, they saw that some Saurians were waiting for them."
        delay=4000
    [/part]
[/story]

{BRIDGE_ELOH}

[side]
    {EW_SALEH}
    side=1
    controller=human
    recruit=Wose
    team_name=kalenz
    fog=no
    shroud=no
    share_view=yes
    share_map=yes
    {GOLD 200 150 100}
[/side]

[side]
    side=2
#ifdef MULTIPLAYER
    {EW_BIMLI}
    controller=human
    recruit=Dwarvish Fighter,Dwarvish Thunderer,Dwarvish Scout
    team_name=kalenz
    fog=no
    shroud=no
    share_view=yes
    share_map=yes
    {GOLD 200 100 50}
#else
    hidden=yes
    controller=null
#endif
[/side]

[side]
    type=Saurian Ambusher
    id=Furm
    side=3
    canrecruit=yes
    {GOLD 190 280 320}
    {INCOME 4 8 12}
    team_name=Liz
    allow_player=no
#ifdef EASY
    recruit=Saurian Skirmisher
#else
    recruit=Saurian Skirmisher, Saurian Ambusher
#endif
    [ai]
        recruitment_ignore_bad_movement=yes
        recruitment_pattern=scout
        aggression=0.75
    [/ai]
[/side]

[side]
    type=Saurian Ambusher
    id=Lizmor
    side=4
    canrecruit=yes
    {GOLD 190 280 320}
    {INCOME 4 8 12}
    team_name=Liz
    allow_player=no
#ifdef EASY
    recruit=Saurian Skirmisher
#else
    recruit=Saurian Skirmisher, Mudcrawler, Giant Mudcrawler, Saurian Ambusher
#endif
    [ai]
        recruitment_ignore_bad_movement=yes
        recruitment_pattern=scout
    [/ai]
[/side]

{STARTING_VILLAGES 1 5}
{STARTING_VILLAGES 3 7}
{STARTING_VILLAGES 4 7}

[event]
    name=prestart
    [objectives]
        side=0
        [objective]
            description= _ "Defeat all enemies"
            condition=win
        [/objective]
        [objective]
            description= _ "Death of Saleh"
            condition=lose
        [/objective]
        [objective]
            description= _ "Death of Greentall"
            condition=lose
        [/objective]
        [objective]
            description= _ "Death of Bimli"
            condition=lose
        [/objective]
        {TURNS_RUN_OUT}
        {EW_CARRYOVER_NOTE}
    [/objectives]
    [recall]
        id=Greentall
    [/recall]
#ifndef MULTIPLAYER
    [recall]
        id=Bimli
    [/recall]
#endif
[/event]

[event]
    name=start

    [message]
        id=Saleh
        message= _ "Stand aside saurians, or we will be forced to fight you."
    [/message]
    [message]
        id=Lizmor
        message= _ "We will not sssssstand assside! You may not crosssss the bridge!"
    [/message]
    [message]
        id=Saleh
        message= _ "I knew he was going to say that!"
    [/message]
    [message]
        id=Greentall
        message= _ "May I suggest that you let the wose lead the march across the bridge? We like crushing those little green lizards."
    [/message]
    [message]
        id=Bimli
        message= _ "Hey, we dwarves want to have some of the fun too!"
    [/message]
[/event]

[event]
    name=time over

    [message]
        id=Saleh
        message= _ "No! We have run out of time."
    [/message]
[/event]

[event]
    name=last breath

    [filter]
        id=Lizmor
    [/filter]
    [message]
        speaker=unit
        message= _ "Aargh! I'm gone!"
    [/message]
    [message]
        id=Saleh
        message= _ "We could have avoided this."
    [/message]
[/event]

[event]
    name=enemies defeated

    [message]
        id=Saleh
        message= _ "We have defeated the Saurians, but more are coming. It is time to move."
    [/message]
    {EW_ENDLEVEL}
[/event]
{HERO_DEATHS}

#ifdef MULTIPLAYER
[/multiplayer]
#else
[/scenario]
#endif
